h1 {
    text-align: left;
    margin: 60px;
}

#container {
    height: 100%;
    width: 500px;
    background-color: #999999;
    margin: 60px;
    display: grid;
    align-items: center;
    justify-content: left; 
}

.box {
    height: 120px;
    width: 120px;
    background: red;
    display: inline-block;
    margin: 20px 0 20px 10px;
    transform-origin: left;
    transition: width 2s;
}

.box p {
    padding: 0px 5px;
    text-align: left;
}

.box:hover {
    width: 480px;
    /* previously used scaleX() but that warps the text as well */
}

.b1 {
    transition-timing-function: linear;
}

.b2 {
    transition-timing-function: ease-in-out;
}

.b3 {
    transition-timing-function: ease-in;
}

.b4 {
    transition-timing-function: ease-out;
}